# fastapi==0.115.12
langchain_core==0.3.56
langchain_openai==0.3.15
langchain_postgres==0.0.15
langgraph==0.4.1
numpy==2.2.5
pgvector==0.3.6
pydantic==2.11.4
python-dotenv==1.1.0
# PyYAML==6.0.2
# Requests==2.32.3
scikit_learn==1.6.1
# setuptools==78.1.0
SQLAlchemy==2.0.40
tiktoken==0.9.0
typing_extensions==4.13.2
# uvicorn==0.34.2
psycopg[binary]==3.2.9
# psycopg2-binary==2.9.10
# langgraph-checkpoint-postgres==2.0.21
# asyncpg~=0.30.0
langchain-text-splitters
